<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <h3 class="card-header">User {{cardData.id}}</h3>
            <div class="card-block">
                <h4 class="card-title">{{cardData.name}}</h4>
                <p><span>Email</span> - <span>{{cardData.email}}</span></p>
                <p><span>Gender</span> - <span>{{cardData.gender}}</span></p>
            </div>
            <div class="card-footer">
                <h4>Address</h4>
                <p>{{cardData.address.street}}, {{cardData.address.city}}, {{cardData.address.state}}</p>
            </div>
        </div>
    </div>
</div>